.venv/
__pycache__/
*.pyc

instance/database.db
instance/*.db

.DS_Store
__MACOSX/

.env
.env.*
!.env.example
!mobile.env.example

.vscode/
.idea/

node_modules/
package-lock.json

android/
ios/

dist/
build/
.cache/