ENVIRONMENT=development
DEBUG_MODE=true

SECRET_KEY=change_this_to_a_long_random_secret

DATABASE_URL=sqlite:///instance/database.db

PUBLIC_BASE_URL=http://127.0.0.1:8080

SESSION_COOKIE_SECURE=false
SESSION_COOKIE_SAMESITE=Lax